*{
    margin: 0px;
    padding: 0px;
}
#home{
    width: 100%;
    height: auto;
    position: relative;
}
#home a{
    color: white;
}
#home a:hover{
    color: lightskyblue;
}
#container-nav{
    height:auto;
}
#nav{
    width:80%;
    margin-left: 10%;
    border-bottom: 2px solid white;
    height:100%;
}
.navRight{
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    font-size:1.2Vw;
 }
#jumb{
    width: 100%;
    height: 100Vh;
   background-image: url("../img/slajder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
    padding-top: 100px;
}#slajder-text{
    width:40%;
    height:auto;
    color:white;
    background-color: rgba(24, 23, 23, 0.452);
    padding-left: 5px;
}
#slajder-text h1{
    font-size:4.5Vw;
}
#slajder-text a{
    font-size: 2Vw;
}
#ponuda{
    width:80%;
    height:70Vh;
    margin-left: 10%;
    background-color: azure;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.589), 0 10px 20px 0 rgba(0, 0, 0, 0.534);
    position: absolute;
    bottom:35Vh;
}
#btn{
    width:60%;
    height:15Vh;
}
#btn button{
    width:30%;
    height:15Vh;
    margin-right: 0.2Vw;
    border-radius: 0px;
    font-size: 1.5Vw;
}
.fas{
    margin-right: 10px;
    font-size: 1.5Vw;
}
#container1{
    width:80%;
    height:auto;
    margin-left: 10%;
    margin-top:70Vh;
}
.img1{
    float: left;
    width:30%;
    height:100%;
}
.img1 img{
    height:50%;
    margin-top: 35%;
    width: 100%;
}
.text1{
    float: right;
    width:60%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text1 h2{
    font-size: 2Vw;
}
#destination{
    width: 100%;
    height:auto;
    background-color: rgba(234, 238, 243);
}
.naslov{
    width:80%;
    margin-left: 10%;
    text-align: center;
    padding-top: 40px;
}
.omot{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 2.9Vw; 
    padding-bottom: 30px;
}
.row1{
    margin-bottom: 1.5Vw;
    margin-top: 2.5Vw;
    height: auto;
}
#slika1{
    background-image: url("../img/kina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:48Vh;
    float: left;
    width: 100%;
}
#slika2{
    background-image: url("../img/venecuela.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:48Vh;
    float: right;
    width:100%;
}
.slika h3{
    color: white;
    margin-top: 11Vw;
    margin-left: 10px;
}
.slika p{
    color: white;
    margin-left: 10px;
}
#slika3{
    background-image: url("../img/brazil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    color: white;
    width:100%;
    height: 100%;
}
.images{
    height: 30%;
    width: 100%;
}
#slika3 h3{
    margin-top: 36.6Vw;
    margin-left: 10px;
}
#slika3 p{
    margin-left: 10px;
}
#slika4{
    background-image: url("../img/australija.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    float: left;
    color: white;
    width: 100%;


}
#slika5{
    background-image: url("../img/norveska.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    float: left;
    color: white;
    width:100%;
}
.slika2{
    padding-right: 0px;
}
.slika1 h3{
    margin-top: 16Vw;
}
#slika6{
    background-image: url("../img/turska.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    float: left;
    color: white;
    width:100%;

}
#slika6 h3{
    margin-top: 14.8Vw;
}

#deo1{
    height:47.5%;
    width:100%;
}
#deo2{
    height:47.5%;
    width:100%;
    padding-right: 0px;
    margin-top: 5%;
}
#container-fluid1{
    height: 350px;
    background-image: url("../img/kapadokija.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#JoinNaslov{
    height:30%;
    width: 100%;
}
#JoinNaslov h2{
    font-size: 2.5Vw;
}
#Join{
    height:50%;
    width:80%;    
    text-align: center;
}
#JoinBtn{
    height:10%;
}
#tajmer{
    height: 60%;
    width:90%;
    margin-left: 5%;
    background-color: rgba(24, 23, 23, 0.452);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tajmer p{
    font-size: 4.4Vw;
    margin: 0px;
}
#containerImages{
    height:auto;
}
#packages{
    width: 100%;
    height:auto;
    background-color:  rgb(234, 238, 243);
}
.mesto{
    float: left;
}
.cena{
    float: right;
}
.card-body1{
    border-bottom: 1px solid rgb(204, 203, 203);
}
.card-text1 {
    margin-top: 5px;
    font-size: 1Vw;
}
.card-com{
    margin-top: 30px;
    text-align: justify;
}
.card-com p{
    font-size: 1Vw;
}
.fa-quote-left{
    margin-left: 40%;
}
.image{
    width: 45%;
    height: 30%;
    margin-left:25%;
}
.image img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.card{
    width:100% !important;
    height:100% !important;
}
#offer{
    width: 100%;
    height:100Vh;
    background-image: url("../img/holandija.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#ponuda1{
    float: left;
    width:60%;
    margin-left: 3%;
    margin-top: 5%;
    height: auto;
    background-color:  rgba(24, 23, 23, 0.63);
    color: white;
}
#ponuda1  p{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.3Vw;
}
#ponuda1 h1{
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#baner{
    float: right;
    width: 20%;
    margin-right: 5%;
    height:95%;
    background-image: url("../img/offer2.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-weight: bolder;
}
#baner h5{
    margin-top: 30px;
}
#baner h2{
    margin-top: 150px;
}
#baner h3{
    margin-top: 100px;
}
#blog{
    width: 100%;
    height:auto;
    background-color: rgb(234, 238, 243);
}

.card-comm{
    text-align: justify;
    height: 100%;
}
.card-comm p{
    font-size: 1.1Vw;
}
.card-naslov{
    text-align: center;
    color: gray;
}
.card-slika{
    height:250px;
    width: 100%;
}
.card-slika img{
    width:100%;
    height: 100%;
}
#subs{
    width: 100%;
    height:80Vh;
    background-image: url("../img/santorini.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sadrzaj{
    background-color: rgba(24, 23, 23, 0.63);
    text-align: center;
    color: white;
}
#copyright{
    width:30%;
    text-align: center;
}
#copyright p{
    color: white;
}
#ikonice{
    width:70%;
    color: white;
}
.forma{
    position: absolute;
    display: none;
}
#rodForma{
    position: relative;
}
.aktivan{
    display: block;
}
.forma1{
    width: 35%;
    float: left;
    margin-right:5%;
}
.forma2{
    width:30%;
    float: left;
    margin-right: 5%;
}
.forma3{
    width: 25%;
    float: right;
}
#rodForma p{
    color: red;
}
.forma.aktivan{
    width: 100% !important;
    height: 100% !important;
    margin-left:20%;
}
.forma.aktivan select{
    color: grey;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
}
.date{
    color: grey;
    border: 1px solid gray;
    border-radius: 5px;
}

@media screen and (max-width:991px){
    .navRight{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .containerClass{
        height:100px;
    }
    #ponuda{
        bottom:45Vh;
    }
    #container1{
        margin-top:50Vh;
    }
    .row1 .d-flex{
        display: block !important;
    }
    #desno{
        padding-left: 0px;
        padding-right: 0px;
    }
    .slika2{
        padding-right: 15px;
    }
    .margin{
        margin-top: 20px;
    }
}